* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  /* border: 1px red dotted; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.849);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(167, 160, 155, 0.849);
  width: 100%;
  /* border: 1px red dotted; */
}

.img {
  width: 10rem;
  border-radius: 5rem;
  padding: 2rem;
}
* {
  /* border: .5px dotted red; */
  text-decoration: none;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 1.5vw;
  font-size: 1.5rem;
}

#page-h1 {
  padding: 2rem;
}

.nav-link {
  color: white;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 160, 155, 0.849);
}
.main-container h1 {
  font-size: 5em;
  color: white;
}
.main-container span {
  font-size: 1.5vw;
  color: white;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.img-container img {
  width: 50vw;
  height: auto;
}

.testimonials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-reviews {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 3vw;
}

.testimonial-reviews div {
  margin: 5vw;
  padding: 5vw;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(32, 31, 31);
}

.contact-footer {
  width: 25vw;
  margin: 1.5vw;
}
.residential-page {
  padding: 1rem;
}
.residential-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 1rem;
  margin: 1.5vw;
  border-radius: 2rem;
  background-color: rgba(167, 160, 155, 0.849);
}

.block h2 {
  margin-top: 1rem;
}

.block img {
  width: 56%;
  height: auto;
  border-radius: 2vw;
  margin-top: 2rem;
}
.commercial-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
  padding: 5rem;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

#top-img {
  width: 20vw;
  margin-right: 5rem;
}

#bottom-img {
  width: 20vw;
  margin-left: 5rem;
}

.content-container p {
  width: 20vw;
}

#contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  padding: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* border: 1px red dotted; */
  width: 55vw;
  height: auto;
  align-items: start;
}

.form-general-info {
  margin: 3rem;
}

.form-general-info label input{
  margin: 1rem;
}

.message-form-box {
  /* border: 5px solid red; */
  margin: 3rem;
}


.message-form-box label{
  /* border: 5px solid red; */
  margin: 3rem;
}


.message-form-box input{
  width: 30vw;
  height: 10vw;
  margin: 1rem;
}

.button-design {
  background-color: rgba(167, 160, 155, 0.849);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: 2rem;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  /* width: 100%; */

}

.button-design:after {
  background-clip: padding-box;
  background-color:rgb(32, 31, 31);
  border: solid transparent;
  border-radius: .5rem;
  border-width: 0 0 4px;
  bottom: -2rem;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-design:main,
.button-design:focus {
  user-select: auto;
}

.button-design:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-design:disabled {
  cursor: auto;
}

.button-design {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 160, 155, 0.849);
  width: 30vw;
  margin: 2rem;
  height: 50vh;
  
}

.signup-page {
  display: grid;
  place-content: center;
  padding: 2rem;
}

.form-group {
  font-size: 1rem;
  margin: 2rem;
}

.form-group small {
  font-size: 1rem;
}

.login-page {
  display: grid;
  place-content: center;
  padding: 2rem;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  /* border: 2px red dotted; */
  padding: 2rem;
}

.about-text {
  /* border: 2px red dotted; */
  width: 25vw;
  margin: 5rem;
  margin-left: -2rem;
}

.about-img img{
  width: 15vw;
}

.card {
  background: linear-gradient(135deg, rgba(255 , 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px;
}

.footer-h2 {
  color: #1CB0F6;
}
